*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    background: #ffffff;
    color: #222
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
}
.primary{
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #222;
}
#content{
    container-type: inline-size;
    container-name: content;
    padding: 1rem 0;
}
@container content(min-width: 900px){
    #blog{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
.post {
  container-type: inline-size;
  container-name: post;

  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 1.25rem;
  border-radius: 6px;
}